{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <h2 class="text-center fw-bold mb-4">ВХІД</h2>
            <form>
                <div class="mb-3">
                    <input type="email" class="form-control form-control-lg" placeholder="Email">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control form-control-lg" placeholder="Пароль">
                </div>
                <button type="submit" class="btn btn-dark w-100 py-3">Увійти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}